<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.22.0-pre20151003111314" targetFramework="net46" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.86" targetFramework="net46" />
  <package id="Nerdbank.GitVersioning" version="1.1.52-rc" targetFramework="net46" developmentDependency="true" />
</packages>