name: CI

on:
  push:
    branches: [ main ]
    tags:
      - 'v*.*.*'
  pull_request:
    branches: [ main ]

env:
  DOTNET_NOLOGO: true
  SLN: ${{ github.workspace }}/src/git-istage.sln
  BIN: ${{ github.workspace }}/bin/

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 # We need the full history in order to use Git versioning
    - name: Get release version
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/*}" >> $GITHUB_ENV
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run: dotnet restore $SLN
    - name: Test
      run: dotnet test --no-restore --nologo -c Debug --verbosity minimal $SLN
    - name: Publish
      run: dotnet publish --no-restore --nologo -c Release $SLN /p:OutDir=$BIN
    - name: Push package to GPR
      if: ${{ github.event_name == 'push' && env.RELEASE_VERSION == 'main' }}
      run: dotnet nuget push $BIN*.nupkg --source https://nuget.pkg.github.com/terrajobst/index.json --api-key ${{ github.token }} --skip-duplicate
    - name: Push package to nuget.org
      if: ${{ github.event_name == 'push' && startsWith(env.RELEASE_VERSION, 'v') }}
      run: dotnet nuget push $BIN*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_ORG_TOKEN }} --skip-duplicate
